.avatar-button {
    width: 150px;
    height: 150px;
    border: none;
    background: #d7e8f1;
    border-radius: 50%;
    color: #363667;
}

.avatar-preview {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}