body {
  margin: 0;
  padding: 0;
  box-sizing:border-box;

}
h1,
h2,
h3,
h4,
h5,
h6,input, img {
  margin:0;
  padding:0;
}

.DashboardContainer {
    max-width: 1500px;
}
/* .dash-container{
  width:100%;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-size:cover;
  border-radius:5px;
} */

