body {
  margin: 0;
  padding: 0;
  box-sizing:border-box;

}
h1,
h2,
h3,
h4,
h5,
h6,input, img {
  margin:0;
  padding:0;
}

.DashboardContainer {
    max-width: 1500px;
}


.dashTitles {
  font-weight: 600;
  background-image: linear-gradient(to left, #e91e63, #cd92a6);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;}




/* .dash-container{
  width:100%;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-size:cover;
  border-radius:5px;
} */

