/* CSS for Login & Register Pages */
/* .title {
  font-weight: d
} */
.form-group{
  margin-bottom:25px;
  display: flex;
  flex-direction: column;
}
.form{
  width:600px;
  height:600px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  padding:20px; 
  border:rgb(44, 6, 6) 2px;
  background-image:linear-gradient(to bottom right, rgba(255,255,255,0.2), rgba(255,255,255,0));
  backdrop-filter: "blur(8px)"; 
  box-shadow: 10px 10px 30px rgba(30,30,30,0.5);
  border-left:solid 1px rgba(255,255,255,0.8);
  border-top:solid 1px rgba(255,255,255,0.8);
  }

.form-container{
  width:100%;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-size:cover;
  
}

#outlined-multiline-flexible-helper-text {
  font-size: 0.8rem;
  color:rgb(142, 138, 138);

}
.form-group label{
  font-size:20px;
  color:white;
  font-weight: 400;
  margin-bottom:10px; 
}

.form-group input[type="text"],input[type="password"]{
  border:none;
  padding:10px; 
  width:90%; 
  height:45px;
  border-radius:10px;
  font-size:20px;
  color:white;
  /* background-color:rgba(0,0,0,0.6);  */
}
