.form-group{
  margin-bottom:25px;
  display: flex;
  flex-direction: column;
}
.form{
  width:400px;
  height:400px;
  background-color:rgba(0,0,0,0.6);
  display:flex;
  flex-direction:column;
  justify-content: center;
  padding:20px; 
  border:black 2px;
  background-image:linear-gradient(to bottom right, rgba(255,255,255,0.2), rgba(255,255,255,0));
  backdrop-filter: "blur(10px)"; 
  box-shadow: 10px 10px 10px rgba(30,30,30,0.5);
  border-left:solid 1px rgba(255,255,255,0.8);
  border-top:solid 1px rgba(255,255,255,0.8);
  }

.form-container{
  width:100%;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-size:cover;
  
}

.form-group label{
  font-size:20px;
  color:white;
  margin-bottom:10px; 
}

.form-group input[type="text"],input[type="password"]{
  border:none;
  padding:10px; 
  width:90%; 
  height:45px;
  border-radius:10px;
  font-size:20px;
  color:white;
  background-color:rgba(0,0,0,0.6); 
}


/* login & register boxes */
.form {
  background-image:linear-gradient(to bottom right, rgba(255,255,255,0.2), rgba(255,255,255,0));
  backdrop-filter: "blur(10px)"; 
  box-shadow: 10px 10px 10px rgba(30,30,30,0.5);
  border-left:solid 1px rgba(255,255,255,0.8);
  border-top:solid 1px rgba(255,255,255,0.8);
  }
