h1 {
  /* width:500px; */
  margin: 0 auto;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
.body {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: "Alegreya";
}

.MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
  width: "inherit";
}