.chat {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
}

.chat__sidebar{
    background-color: aqua;
    width: 30%;
}

.chat__right{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.chat__conversation{
    background: lightpink;
    min-height: 300px;
}

.chat__right > input {
    height: 50px;
}

.chat-preview {
    margin: 5px;
    height: 150px;
    background-color: rgb(76, 119, 227);
    display: flex;
}

.chat-preview.active {
    background-color: purple;
}

.chat-preview__avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.message {
    margin: 10px 10px;
}

.message__author, .message__sentAt, .message_text {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.message__text {
    background: palevioletred;
    border-radius: 20px;
}

.yours > .message__text {
    background: orangered;
}

.message__author {
    font-weight: bold;
}

.message__sentAt {
    font-style: italic;
    color: grey;
}