
.logo{  
     width:auto;
     height:100vh;
     /* height:auto; */
     /* margin:0; */
     animation:fadeout 5s ease-out 10s forwards;
     /* position:100;
     top:0;
     left:0;
     z-index:100; */
   }

   @keyframes fadeout{
     0%{
       opacity:1
     }
     99%{
       opacity:0;
       display:block;
     }
   100%{opacity:0;display:none;}
   }
  