
.logo{  
    width:100%;
    min-height: 100vh;
    height: 100%;
    object-fit: cover;
    animation:fadeout 5s ease-out 6s forwards;
   }

   @keyframes fadeout{
     0%{
       opacity:1
     }
     99%{
       opacity: 0;
       display:block;
       margin-top: 0;
       width: 100vw;
     }
   100%{opacity:0; display:none; margin-top: 1000px; width: 0vw}
   }
  

   /* width: 0vw} */