.textsplash {
  position:absolute;
  top:0;

}
.welcome {
  text-shadow: rgb(46, 28, 111) 10px 8px 2px;
  /* margin: 40px auto; */
  font-size: 90px;
  font-weight: bold;
  margin-bottom:0;
  padding-bottom:0;
  
 color:#A067E2;
 text-align: center;
   /* letter-spacing: 5px;
  text-shadow: 0 0 8px #316472; */
} 