table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }
  
  td, th {
    border: 1px solid #7a7373;
    text-align: left;
    padding: 6px;
  }
  
  th {
    background-color: #dddddd;
  }